In [25]:
# Import the necessary libraries for reading csv files

import numpy_financial as np
import pandas as pd

In [50]:
# Created a Path File for CSV file 

# Created a variable named "df" and assigning a path file.

df = pd.read_csv(r"C:/Users/johnm/PyBank/resources/budget_data.csv")

df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [51]:
# Identitfied DataFrame Types

df.dtypes

Date             object
Profit/Losses     int64
dtype: object

In [52]:
# Assessed data quality by identifying the number of rows

df.count()

Date             86
Profit/Losses    86
dtype: int64

In [53]:
# Assessed data quality by checking nulls

df.isnull()

     Date  Profit/Losses
0   False          False
1   False          False
2   False          False
3   False          False
4   False          False
..    ...            ...
81  False          False
82  False          False
83  False          False
84  False          False
85  False          False

[86 rows x 2 columns]

In [54]:
# Determined percentage of nulls

df.isnull().mean() * 100

Date             0.0
Profit/Losses    0.0
dtype: float64

In [55]:
# Assessed data quality by determining the number of nulls

df.isnull().sum()

Date             0
Profit/Losses    0
dtype: int64

In [56]:
# Checked for duplicates

df.duplicated()

0     False
1     False
2     False
3     False
4     False
      ...
81    False
82    False
83    False
84    False
85    False
Length: 86, dtype: bool

In [57]:
# Checked duplicates for specific field

df['Date'].duplicated()

0     False
1     False
2     False
3     False
4     False
      ...
81    False
82    False
83    False
84    False
85    False
Name: Date, Length: 86, dtype: bool

In [58]:
# Cleaned duplicates

df = df.drop_duplicates().copy()

In [59]:
# Created a variable, 'total_months', and assigned a value to calculate total number of months

total_months = df['Date'].count()

total_months

86

In [60]:
# Created a variable, 'total', and assigned a value to calculate the sum of 'Profit/Losses'

total = df['Profit/Losses'].sum()

total

38382578

In [61]:
# Created a column of shifted values.

df['shifted_column'] = df['Profit/Losses'].shift(1)

df

        Date  Profit/Losses  shifted_column
0   Jan-2010         867884             NaN
1   Feb-2010         984655        867884.0
2   Mar-2010         322013        984655.0
3   Apr-2010         -69417        322013.0
4   May-2010         310503        -69417.0
..       ...            ...             ...
81  Oct-2016         102685        768450.0
82  Nov-2016         795914        102685.0
83  Dec-2016          60988        795914.0
84  Jan-2017         138230         60988.0
85  Feb-2017         671099        138230.0

[86 rows x 3 columns]

In [62]:
# Created a column with the difference between current value 'Profit/Losses' and last line value 'shifted_column'

df['difference'] = df['Profit/Losses'] - df['shifted_column']

df

        Date  Profit/Losses  shifted_column  difference
0   Jan-2010         867884             NaN         NaN
1   Feb-2010         984655        867884.0    116771.0
2   Mar-2010         322013        984655.0   -662642.0
3   Apr-2010         -69417        322013.0   -391430.0
4   May-2010         310503        -69417.0    379920.0
..       ...            ...             ...         ...
81  Oct-2016         102685        768450.0   -665765.0
82  Nov-2016         795914        102685.0    693229.0
83  Dec-2016          60988        795914.0   -734926.0
84  Jan-2017         138230         60988.0     77242.0
85  Feb-2017         671099        138230.0    532869.0

[86 rows x 4 columns]

In [63]:
# Created a variable, 'average_difference' and assigned value to calculate average difference

average_difference = df['difference'].mean()

average_difference

-2315.1176470588234

In [64]:
# Created a variable. 'greatest_increase', and assigned a value to calculate maximum difference

greatest_increase = df['difference'].max()

greatest_increase

1926159.0

In [65]:
# Taking the value of 'greatest_increase' and locating it inside df to determine date

df.loc[df['difference']==greatest_increase]

        Date  Profit/Losses  shifted_column  difference
25  Feb-2012        1170593       -755566.0   1926159.0

In [66]:
# Created a variable for the date with greatest increase

date_1 = df.loc[25, "Date"]

date_1

'Feb-2012'

In [67]:
# Created a variable, 'greatest_decrease', and assigned a value to calculate minimum difference

greatest_decrease = df['difference'].min()

greatest_decrease

-2196167.0

In [68]:
# Taking the value of 'greatest_decrease' and locating it inside df to determine date

df.loc[df['difference']==greatest_decrease]

        Date  Profit/Losses  shifted_column  difference
44  Sep-2013       -1196225        999942.0  -2196167.0

In [69]:
# Created a variable for the date with greatest decrease

date_2 = df.loc[44, "Date"]

date_2

'Sep-2013'

In [23]:
print("Financial Analysis")
print(f'Total Months: ', total_months)
print(f'Total: $', total)
print(f'Average Change: $', f'{average_difference:.2f}')
print(f'Greatest Increase in Profits:', f'{date_1}, $ ' f'{greatest_increase}')
print(f'Greatest Decrease in Profits:', f'{date_2}, $ ' f'{greatest_decrease}')

Financial Analysis
Total Months:  86
Total: $ 38382578
Average Change: $ -2315.12
Greatest Increase in Profits: Feb-2012, $ 1926159.0
Greatest Decrease in Profits: Sep-2013, $ -2196167.0